/* Floating Action Button (FAB)*/
/* Advanced Mobile Toolbar Mode */
[aria-label="Edit (⌘+Click to edit in new pane)"],
[aria-label="Edit (Ctrl+Click to edit in new pane)"],
[aria-label="Preview (⌘+Click to open in new pane)"],
[aria-label="Preview (Ctrl+Click to open in new pane)"] {
  top: calc(90vh - calc(var(--at-button-height) * var(--at-row-count)));
}


/* Advanced Mobile Toolbar Mode disabled */
body:not(.advanced-toolbar-mode)
  [aria-label="Edit (⌘+Click to edit in new pane)"],
body:not(.advanced-toolbar-mode)
  [aria-label="Edit (Ctrl+Click to edit in new pane)"],
body:not(.advanced-toolbar-mode)
  [aria-label="Preview (⌘+Click to open in new pane)"],
body:not(.advanced-toolbar-mode)
  [aria-label="Preview (Ctrl+Click to open in new pane)"] {
  top: calc(90vh - 48px);
}


/* Shared styling */
[aria-label="Edit (⌘+Click to edit in new pane)"],
[aria-label="Edit (Ctrl+Click to edit in new pane)"],
[aria-label="Preview (⌘+Click to open in new pane)"],
[aria-label="Preview (Ctrl+Click to open in new pane)"] {
  display: flex;
  padding: 0px;
  position: absolute;
  left: 82vw;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  width: 50px !important;
  height: 50px  !important;
  border-radius: 25px !important;
  box-shadow: 0.9px 0.9px 3.6px rgba(0, 0, 0, 0.07),
    2.5px 2.4px 10px rgba(0, 0, 0, 0.1), 6px 5.7px 24.1px rgba(0, 0, 0, 0.13),
    20px 19px 80px rgba(0, 0, 0, 0.2);
  opacity: 1 !important;
  color: var(--text-color);
  background-color:var(--interactive-accent);

}




/* Preview Colours */
[aria-label="Preview (⌘+Click to open in new pane)"],
[aria-label="Preview (Ctrl+Click to open in new pane)"] {
  /*background-color: #e9bd91;*/

}

/* Shrink FAB on small displays */
@media screen and (max-height: 400px) {
  [aria-label="Edit (⌘+Click to edit in new pane)"],
  [aria-label="Edit (Ctrl+Click to edit in new pane)"],
  [aria-label="Preview (⌘+Click to open in new pane)"],
  [aria-label="Preview (Ctrl+Click to open in new pane)"] {
    transform: scale(0.8) translate(-50%, -50%);
  }
}



