em {
  color: #b28bea;
}



/* make file name title size */
.view-header-title {
  width: 100%;
  font-style: bold;
}

strong {
  color: #e9bd91;
  font-weight: bold;
}

.markdown-preview-view mark {
  background-color: #e9bd91;
  color: black;
  font-weight: 600;
}
.cm-s-obsidian span.cm-highlight {
  background-color: #e9bd91;
  color: black;
}

a {
  text-decoration: none !important;
  font-style: italic;
}
a:hover {
  text-decoration: underline !important;
  font-style: italic;
  /*color: #02c5f6;*/
}


/* Add quotation character before quote */
blockquote:before {
  font: 14px/20px italic Times, serif;
  content: "“";
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}

/*Quotation on edit mode*/
.cm-formatting.cm-formatting-quote.cm-formatting-quote-1.cm-quote.cm-quote-1::before{
  font: 14px/20px italic Times, serif;
  content: "“";
  font-size: 5em !important;
  line-height: 0.1em;
  vertical-align: -0.4em;
  padding: 10px;
}

.HyperMD-quote{
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

blockquote p {
  display: inline;
}

.cm-strong {
  color: #e9bd91;
  font-weight: bold;
}

.cm-em {
  color: #b28bea;
}

.cm-highlight {
  background-color: #e9bd91;
  color: black;
  font-weight: bold;
}


.cm-hr {
  width: 100%;
  height: 1px;
  background-color: var(--text-faint);
  display: inline-block;
  font-size: 5px;
}

.cm-formatting-task {
  font-family: monospace !important;
}

.cm-formatting-task.cm-property + .cm-list-1 {
  text-decoration: line-through !important;
  font-style: italic;
  color: gray;
  filter: grayscale(100%);
}

.cm-formatting-task.cm-property + .cm-list-2 {
  text-decoration: line-through !important;
  font-style: italic;
  color: gray;
  filter: grayscale(100%);
}

.cm-formatting-task.cm-property + .cm-list-3 {
  text-decoration: line-through !important;
  font-style: italic;
  color: gray;
  filter: grayscale(100%);
}


.HyperMD-codeblock-end-bg {
  padding-bottom: 10px;
}

.HyperMD-codeblock-begin {
  padding-top: 10px !important;
}

code {
  color: var(--text-accent) !important;
}

.cm-inline-code {
  color: var(--text-accent) !important;
  font-weight: bold;
  font-family: monospace;
}



/*Heading fonts*/
h1 {
  font-family: "myPopin" !important;
  --bold-weight: 700 !important; /* Switch to 700 if you want thicker bold text */
  font-size: 2em !important;
}
h2 {
  font-family: "myPopin" !important;
  font-size: 1.4em !important;
}

h3 {
  font-family: "myMerriweather" !important;
  font-size: 1.2em !important;
}

/*Same font style for Editor */
.cm-header-1{
  font-family: "myPopin" !important;
  --bold-weight: 700 !important; /* Switch to 700 if you want thicker bold text */
  font-size: 2em !important;
}
.cm-header-2{
 font-family: "myPopin" !important;
  font-size: 1.4em !important;
}

.cm-header-3{
  font-family: "myMerriweather" !important;
  font-size: 1.2em !important;
  font-weight: 300 !important;
}


/*small markdown syntax*/
.cm-formatting {
	font-size: 10px !important;
}
/*restore tag syntax size*/
.cm-formatting.cm-formatting-hashtag.cm-hashtag-begin.cm-hashtag{
 font-size: var(--font-small) !important;
}


/*Editmode header margin*/
.HyperMD-header-1{
  padding-bottom: 10px !important;
}


.HyperMD-header-2{
  padding-bottom: 10px !important;
}

.HyperMD-header-3{
  padding-bottom: 10px !important;
}

